body {
    font-family:sans-serif;
}
.label{
    font-weight: bold;
}
.txtbx{
    width:50px;
    border-bottom: solid 2px black;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size:25pt;
    height:auto;
    text-align:center;
}
td{
    position:relative;
    padding:5px;
    width:auto;
}
.btnPM{
    height: 50px;
    width: 50px;
    background-image:url("../images/roll.png");
    border:none;
    font-size: 25pt;
}
.btnPM:active {
    background-image: url("../images/rollC.png");
    cursor:pointer;
}
.btnPM:hover {
    background-image: url("../images/rollH.png");
    cursor:pointer;
}
.btn{
    height: 50px;
    width: 50px;
    background-image:url("../images/roll.png");
    border:none;
}
.btn:hover {
    background-image: url("../images/rollH.png");
    border: none;
    cursor:pointer;
}
.btn:active {
    background-image: url("../images/rollC.png");
    border: none;
    cursor:pointer;
}
img{
    padding: 0 5px;
    vertical-align:middle;
    width: 45px;
    height: 45px;
}